################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EssentialLegalzoomEventDocumentManagment/v15/Server/sqlite3
/EssentialLegalzoomEventDocumentManagment/obj
/EssentialLegalzoomEventDocumentManagment/bin
